<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <img src="Logo-Conline.webp" alt="App Logo" class="logo" />
      <h2>Bienvenido a Conline</h2>
      <p>Porfavor logueate con Google para continuar</p>
    </div>

    <div class="login-body">
      <button class="google-login-btn" (click)="redirectToLogin()">
        <img src="Logo-Google.webp" alt="Google Logo" class="google-logo" />
        Continuar con Google
      </button>
    </div>

    <div class="login-footer">
      <p>&copy; 2024 Conline. Todos los derechos reservados.</p>
    </div>
  </div>
</div>
