<div class="home-container">
  <div class="sidebar">
    <div class="sidebar-header">
      <img src="{{ image() }}" alt="Foto de perfil" class="user-avatar" />
      <span class="user-name">{{ fullName() }}</span>
      <div class="sidebar-icons">
        <i class="icon icon-settings"></i>
        <i class="icon icon-new-chat"></i>
      </div>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Buscar chats o contactos..." />
    </div>
    <div class="chat-list">
      <app-contacts
        avatarUrl="Logo-Conline.webp"
        contactName="Chat General"
        [lastMessage]="lastMessage?.sender?.firstName + ': ' + lastMessage?.content"
        [time]="lastMessage?.timestamp | date : 'short'"
        (click)="onSelectedChat = true"
      />
    </div>
    <button class="btn-logout" (click)="onLogout()">Desloguearse</button>
  </div>
  <div class="main-content">
    @if (!onSelectedChat) {
    <app-main-content />
    } @if (onSelectedChat) {
    <app-chat-details style="width: 100%; height: 100%"></app-chat-details>
    }
  </div>
</div>
